desktop.ini
/Server/node_modules/
/.idea/
/node_modules/
/pc/windows/userData.json
/pc/windows/commandHistory.log
/pc/linux/userData.json
/pc/linux/commandHistory.log
/pc/test.py
Server/package-lock.json
/pc/.idea
*.pyc
/venv/
pc/commandHistory.log
pc/userData.json
/pc/build/exe_windows/
/Pipfile
/Pipfile.lock
