<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pandapp | <%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<header>
    <%- include('./templates/nav', {page}) %>
</header>
<main style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('/public/images/bg.png')">
    <div class="container mt-3 text-center">

        <div class="row justify-content-center ">
            <h1>Pc application</h1>
            <form class="form-floating">
                <select id="os_pc" class="form-select">
                    <option value="windows">Windows</option>
                    <option value="linux">Linux</option>
                    <!--        <option value="mac">Mac</option>-->
                </select>
                <label for="os_pc">OS: </label>
                <a class="btn btn-primary mt-3" href="/download/win" id="download_button_pc" >Download windows executable</a>
            </form>
        </div>
        <div class="row justify-content-center">
            <h1 class="text-center">Mobile application</h1>
            <form class="form-floating">
                <select id="os_tel" class="form-select">
                    <option value="android">Android</option>
                    <option value="ios">iOS</option>
                    <!--        <option value="mac">Mac</option>-->
                </select>
                <label for="os_tel">OS: </label>
                <a class="btn btn-primary mt-3" href="/download/android" id="download_button_tel" >Download android application</a>
            </form>
        </div>
    </div>
</main>
<footer>
    <%- include('./templates/footer', {page}) %>
</footer>
</body>
<script>
    document.querySelector('#os_pc').addEventListener('change', e => {
        let os = e.target.value;
        document.querySelector('#download_button_pc').href = `/download/${os}`;
        document.querySelector('#download_button_pc').innerText = `Download ${os} executable`;
    });

    document.querySelector('#os_tel').addEventListener('change', e => {
        let os = e.target.value;
        document.querySelector('#download_button_tel').href = `/download/${os}`;
        document.querySelector('#download_button_tel').innerText = `Download ${os} application`;
    });
    
</script>
</html>